[user]
    name = Vladimir Vialov
    email = vyalov.v@gmail.com
[alias]
    br = "branch"
    co = "checkout"
    st = "status -s"
    lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
    c = "commit -am"
    amend = "commit --amend -m"
    last = "log --oneline -n 1"
[pull]
    rebase = true
[push]
    autoSetupRemote = true
[submodule]
    recurse = true
